/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

/* first page */

#introduction{
    background-color: #f4f1eb;
    margin-top: 58px;
}
#introduction .left{
    display: flex;
    justify-content: center;
}

.left .img-fluid{
    width: 320px;
    height: 320px;  
    border: 1px solid #000000;
    border-radius: 50%;
}

.right {
    font-family: 'PT Sans', sans-serif;
    color: #5b5b5b;
    text-align: center;
}

.right h2 {
    font-size: 43.3px;
    color: #000000;
    margin-bottom: 10px;
}

.right h3 {
    font-size: 24px;
}

.right p {
    margin-bottom: 15px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px; /* Adjust size of social media icons as needed */
    height: auto;
}

/* about section */
#about{
    background-color: #ffffff;
}
#about .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#about .about-left {
    font-family: 'PT Serif', serif;
    color: #000000;
}

#about .about-left h2 {
    font-family: 'PT Serif', serif;
    color: #000000;
}

#about .about-right {
    display: flex;
    justify-content: center;
}

#about .about-right img {
    height: auto;
}

#about .about-left h2 {
    font-size: 43.1px;
}

#about .about-content {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #000000;
}

#about .about-content h2 {
    font-size: 43.1px;
}

#about .about-content p {
    margin-bottom: 15px;
}

/* relevant expereince */
#relevant-experience{
    background-color: #f4f1eb;
}

#relevant-experience .container {
    display: flex;
    flex-direction: row;
}

#relevant-experience .experience-left h2 {
    font-size: 43px;
    color: #000000;
    margin-top: 0; /* Remove default margin */
}

#relevant-experience .experience-right {
    font-family: 'PT Serif', serif;
    color: #5b5b5b; /* Color for "Northeastern University" and "ekZero" */
}

#relevant-experience .job {
    margin: 30px 0px;
}

#relevant-experience .job-company {
    flex: 0 0 200px; /* Adjust width of company name column as needed */
    text-align: right;
}

#relevant-experience .job .job-details h2 {
    font-weight: bold;
    color: #000000;
}

#relevant-experience .job .job-details h3 {
    color: #5b5b5b;
}

#relevant-experience .job h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#relevant-experience .job .job-details p{
    margin: 15px 0px;
    color: #000000;
}

/* education section */

#education{
    background-color: #ffffff;
}
#education .container {
    display: flex;
    flex-direction: row;
}

#education .education-left h2 {
    font-size: 43px;
    color: #000000;
    margin-top: 0; /* Remove default margin */
}

#education .education-right {
    font-family: 'PT Serif', serif;
    color: #5b5b5b; /* Color for "Northeastern University" and "ekZero" */
}

#education .college .college-details h2 {
    font-weight: bold;
    margin: 20px 0px;
    color: #000000;
}

#education .college .college-details h3 {
    color: #5b5b5b;
}



/* Project section */

#projects{
    background-color: #f4f1eb;
}

#projectTab{
    margin-bottom: 30px;
}
#projects .title {
    color: #000000;
    font-size: 43px;
}

#projects .project {
    border: 1px solid #ccc;
    padding: 20px;
}
#projects .project h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.project {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project-content {
    padding: 20px 0px;
}
.project-content p{
    height: 293px; /* Set a fixed height for consistency */
    overflow: hidden; /* Hide overflow content */
}

.project a {
    display: block;
    position: relative;
}


.project a:hover::after {
    opacity: 1;
}


#projects .project-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#projects .project-content p {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

/* Connect with Me section */
#connect-with-me {
    text-align: center;
    background-color: #5b5b5b;
    color: #ffffff;
    padding: 20px;
}

#connect-with-me h2 {
    font-size: 43px;
    margin: 10px 0;
}

#connect-with-me p {
    font-size: 18px;
    margin: 10px 0;
}


/* Media Queries */
@media only screen and (max-width: 992px) {
    header{
        .header-left{
            text-align: center;
        }

        h1{
            font-size: 12px;
        }
        .nav-link  {
            font-size: 12px;
        }
    }  
    #introduction{
        margin-top: 70px;

        .left .img-fluid{
            width: 250px;
            height: 250px;  
        }
        .right h2 {
            font-size: 32px;
            font-weight: bold;
        }
        .right h3 {
            font-size: 28px;
        }
    }
    #about{
        .about-left h2{
            font-size: 32px;
            margin-bottom: 15px;
        } 
    }
    #relevant-experience{
        .experience-left h2{
            font-size: 32px;
        }
    }
    #education{
        .education-left h2{
            font-size: 32px;
        }
    }
    #projects{
        .title{
            font-size: 32px;
            margin-bottom: 15px;
        }
        .project-content p{
            height: 180px; /* Set a fixed height for consistency */
            overflow: hidden; /* Hide overflow content */
        }
    }
    #connect-with-me{
        h2{
            font-size: 28px;
            margin-bottom: 15px;
        }
    }
}


@media only screen and (max-width: 768px) {
    header{
        .nav-link  {
            padding: 10px;
        }
    }  
    .container {
        padding: 10px;
    }
    #introduction{
        margin-top: 90px;

        .left .img-fluid{
            width: 180px;
            height: 180px;  
        }
        .right h2 {
            margin-top: 20px;
            font-size: 28px;
            font-weight: bold;
        }
        .right h3 {
            font-size: 20px;
        }
    }
    #about{
        .about-left h2{
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        } 
    }
    #relevant-experience{
        .experience-left h2{
            font-size: 28px;
            font-weight: bold;
            text-align: center;
        }
    }
    #education{
        .education-left h2{
            font-size: 28px;
            font-weight: bold;
            text-align: center;
        }
    }
    #projects{
        .title{
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    #connect-with-me{
        h2{
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    
}

@media only screen and (max-width: 576px) {
    #introduction{
        margin-top: 135px;

        .left .img-fluid{
            width: 180px;
            height: 180px;  
        }
        .right h2 {
            font-size: 20px;
            font-weight: bold;
        }
        .right h3 {
            font-size: 18px;
        }
    }  
    #about{
        .about-left{
            margin-bottom: 20px;
        }
        .about-left h2{
            font-size: 20px;
            margin-bottom: 15px;
        }
        .about-content{
            text-align: center;
        }
    }
    #relevant-experience{
        .experience-left h2{
            font-size: 20px;
        }
    }
    #education{
        .education-left h2{
            font-size: 20px;
        }
    }
    #projects{
        .title{
            font-size: 20px;
            margin-bottom: 15px;
        }
        .project-content p{
            height: 300px; /* Set a fixed height for consistency */
        }
    }
    #connect-with-me{
        h2{
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    
}
