/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure header stays on top */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center content */
    padding: 0 20px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

/* Introduction section */
#introduction {
    background-color: #f4f1eb;
    padding-top: 65px; /* Adjust padding to accommodate fixed header */
}

#introduction .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#introduction .left img {
    max-width: 100%;
    width: 250px;
    height: auto;
}

#introduction .right {
    width: 60%;
    text-align: center;
}

#introduction .right h2 {
    font-size: 28px; /* Adjust font size */
    margin-bottom: 10px;
}

#introduction .right h3 {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 20px;
}

#introduction .social-icons {
    margin-top: 20px;
}

#introduction .social-icons a {
    display: inline-block;
    margin-right: 10px;
}

#introduction .social-icons img {
    width: 30px;
    height: auto;
}

/* About section */
#about {
    background-color: #ffffff;
    padding: 20px;
}

#about .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#about .about-left {
    width: 45%; /* Adjust width */
}

#about .about-left h2 {
    font-size: 28px; /* Adjust font size */
    margin-bottom: 20px;
}

#about .about-right {
    width: 45%; /* Adjust width */
    text-align: center;
}

#about .about-right img {
    max-width: 100%;
    height: auto;
}

#about .about-content {
    font-size: 14px;
    color: #000000;
    text-align: justify;
    margin-top: 20px; /* Adjust margin */
    line-height: 1.5; /* Improve readability */
}

/* Relevant experience section */
#relevant-experience {
    background-color: #f4f1eb;
    padding: 20px;
}

#relevant-experience .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#relevant-experience .experience-left {
    width: 45%; /* Adjust width */
}

#relevant-experience .experience-right {
    width: 45%; /* Adjust width */
}

#relevant-experience .job {
    margin-bottom: 30px; /* Adjust margin */
}

#relevant-experience .job-year {
    width: 30%;
}

#relevant-experience .job-details {
    width: 70%;
}

#relevant-experience .job-details h2 {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 10px;
}

#relevant-experience .job-details h3 {
    font-size: 18px; /* Adjust font size */
    color: #5b5b5b;
    margin-bottom: 10px;
}

#relevant-experience .job-details p {
    font-size: 14px; /* Adjust font size */
    color: #000000;
    margin-bottom: 10px;
}

/* Education section */
#education {
    background-color: #ffffff;
    padding: 20px;
}

#education .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#education .education-left {
    width: 45%; /* Adjust width */
}

#education .education-right {
    width: 45%; /* Adjust width */
}

#education .college .college-details h2,
#education .college .college-details h3 {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 10px;
}

/* Projects section */
#projects {
    background-color: #f4f1eb;
    padding: 20px;
}

#projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#projects .title {
    font-size: 28px; /* Adjust font size */
    grid-column: 1 / -1;
}

#projects .project h3 {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 10px;
}

#projects .project-content p {
    font-size: 14px; /* Adjust font size */
    margin-bottom: 10px;
}

/* Connect with Me section */
#connect-with-me {
    background-color: #5b5b5b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#connect-with-me h2 {
    font-size: 28px; /* Adjust font size */
    margin-bottom: 10px;
}

#connect-with-me p {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 10px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    #introduction .container,
    #about .about-container,
    #relevant-experience .container,
    #education .container,
    #projects .container {
        flex-direction: column;
        align-items: center;
    }

    #introduction .left img {
        width: 200px; /* Adjust image width */
    }

    #introduction .right,
    #about .about-right,
    #relevant-experience .experience-right,
    #education .education-right {
        width: 100%; /* Adjust width */
        margin
